{% load staticfiles %}

<html>
    <head>
        <title>My blog</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}

        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper green">
                    <div class="row">
                        <div class="col s12">
                            <a href="/" class="brand-logo">Geo</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% block extra_css %}{% endblock extra_css %}
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
